.container{
    display: flex;
    flex-direction: column;
   
    width: 100%;
    height: 100dvh;
    align-items: center;
    justify-content: center;
    background-color: rgb(218, 238, 226);
}

.containerLogin{
    background-color: rgb(116, 233, 194);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 400px;
    
    box-shadow:   
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.containerLogin input{
    margin: 10px;
    width: 200px;
    height: 30px;
    background-color: aliceblue;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 10px;
    box-shadow:   
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    

}

.buttonLogin{
    margin: 10px;
    width: 200px;
    height: 30px;
    background-color: aliceblue;
    border: none;
    border-radius: 10px;
    box-shadow:   
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    transition: 0.5s;
   margin-bottom: 20px;
}

.buttonLogin:hover{
    cursor: pointer;
    background-color: rgb(212, 208, 208);
}

.title{
    color: rgb(70, 64, 64);
    text-shadow:   
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    font-size: 40px;
}